<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name">Nom</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorName">
                    <input nz-input formControlName="name" id="name" nzSize="small" autocomplete="off" (input)="capitalizeString($event, 'name')"/>
                    <ng-template #errorName let-control>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Le champs doit contenir au moins 3 caractères!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">
                            Le champs doit contenir au plus 50 caractères!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="cycle">Cycle</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <nz-select 
                        formControlName="cycle" 
                        id="cycle" 
                        nzSize="small" 
                        autocomplete="off"
                        nzPlaceHolder="Veuillez sélectionner"
                        nzShowSearch nzAllowClear>
                        <nz-option *ngFor="let item of cycles"
                            [nzLabel]="item.name" 
                            [nzValue]="item['@id']">
                        </nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="level">Niveau</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorLevel">
                    <input nz-input formControlName="level" id="level" nzSize="small" autocomplete="off" (input)="capitalizeString($event, 'level')"/>
                    <ng-template #errorLevel let-control>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Le champs doit contenir au moins 3 caractères!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">
                            Le champs doit contenir au plus 10 caractères!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col class="gutter-row" nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="code">Code</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorCode">
                    <input nz-input formControlName="code" id="code" nzSize="small" autocomplete="off" oninput="this.value = this.value.toUpperCase()"/>
                    <ng-template #errorCode let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()">Annuler</button>
    <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isLoading" [disabled]="!validateForm.valid">Enregistrer</button>
</div>