<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Rechercher" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
                <!--
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Category" [(ngModel)]="selectedCategory" (ngModelChange)="categoryChange($event)">
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="Home Decoration" nzValue="Home Decoration"></nz-option>
                        <nz-option nzLabel="Eletronic" nzValue="Eletronic"></nz-option>
                        <nz-option nzLabel="Jewellery" nzValue="Jewellery"></nz-option>
                    </nz-select>
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status" [(ngModel)]="selectedStatus" (ngModelChange)="statusChange($event)">
                        <nz-option nzLabel="All" nzValue="All"></nz-option>
                        <nz-option nzLabel="In Stock" nzValue="in stock"></nz-option>
                        <nz-option nzLabel="Out Of Stock" nzValue="out of stock"></nz-option>
                    </nz-select>
                </div> -->
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <a nz-button nzType="primary" (click)="openAdd()">
                <i nz-icon nzType="plus-circle" theme="outline"></i>
                <span>Ajouter un département</span>
            </a>
        </div>
    </div>

    <div>
        <nz-badge [nzCount]="total" [nzStyle]="{ backgroundColor: '#5796F6' }"></nz-badge> Elément(s)
    </div>
    <nz-table
      nzShowSizeChanger
      [nzData]="departments"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="params.itemsPerPage"
      [nzPageIndex]="params.page"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
        <thead>
            <tr>
                <th nzColumnKey="name" [nzSortFn]="true">Nom</th>
                <th nzColumnKey="name" [nzSortFn]="true">code</th>
                <th nzColumnKey="name" [nzSortFn]="true">Ajouté le</th>
                <th nzRight>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of departments">
                <td>{{ data.name }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.createdAt | date:'dd-MM-yyyy'}}</td>
                <td nzRight class="text-md-right">
                    <a 
                        class="m-r-5"
                        nz-button nzType="default" 
                        nzShape="circle" 
                        nz-tooltip 
                        nzTooltipTitle="Modifier" 
                        (click)="openEdit(data)">
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </a>
                    <button nz-button 
                        nzType="default" 
                        nzShape="circle" 
                        nz-tooltip 
                        nzTooltipTitle="Supprimer"
                        (click)="deleteItem(data)">
                        <i nz-icon nzType="delete" theme="outline"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    
</nz-card>