<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">


    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="country">Responsables</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <nz-select 
                        formControlName="manager" 
                        id="manager" 
                        nzSize="small" 
                        autocomplete="off"
                        nzPlaceHolder="Veuillez sélectionner"
                        nzShowSearch nzAllowClear >
                        <nz-option *ngFor="let item of managers"
                            [nzLabel]="item.employee.name+' '+item.employee.firstname" 
                            [nzValue]="item['@id']">
                        </nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

</form>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()">Annuler</button>
    <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isLoading" [disabled]="!validateForm.valid">Enregistrer</button>
</div>