<nz-skeleton [nzActive]="true" *ngIf="showSkeleton"></nz-skeleton>
<div *ngIf="!showSkeleton && etablishment">
    <div class="page-header has-tab m-t-15">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <nz-avatar nzShape="square" [nzSize]="70" [nzSrc]="formatUrl(etablishment.logo.url)"></nz-avatar>
                <div class="m-l-15">
                    <h4 class="m-b-0">{{etablishment.name}}</h4>
                    <p class="text-muted m-b-0">{{etablishmentTypes[etablishment.etablishmentType]}}</p>
                </div>
            </div>
            <div class="m-b-15">
                <button nz-button nzType="primary" *ngIf="!isEdit" (click)="edit()" class="m-r-5">
                    <i nz-icon nzType="edit" theme="outline"></i>
                    <span>Modifier</span>
                </button>
                <button nz-button nzType="primary" nzDanger *ngIf="!isEdit" (click)="edit()">
                    <i nz-icon nzType="delete" theme="outline"></i>
                    <span>Supprimer</span>
                </button>
                <button nz-button nzType="default" *ngIf="isEdit" (click)="save()">
                    <i nz-icon nzType="save" theme="outline"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
    <nz-tabset class="page-header-tab" *ngIf="!isEdit">
        <nz-tab nzTitle="Aperçu">
            <div class="row">
                <!-- <div class="col-md-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <i class="font-size-40 text-success" nz-icon nzType="smile" theme="outline"></i>
                            <div class="m-l-15">
                                <p class="m-b-0 text-muted">10 Employés</p>
                                <nz-rate [ngModel]="4.5" nzDisabled></nz-rate>
                            </div>
                        </div>
                    </nz-card>
                </div> -->
                <div class="col-md-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <i class="font-size-40 text-primary" nz-icon nzType="shopping-cart" theme="outline"></i>
                            <div class="m-l-15">
                                <p class="m-b-0 text-muted">Employés</p>
                                <h3 class="m-b-0 ls-1">1,521</h3>
                            </div>
                        </div>
                    </nz-card>
                </div>
                <div class="col-md-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <i class="font-size-40 text-primary" nz-icon nzType="shopping-cart" theme="outline"></i>
                            <div class="m-l-15">
                                <p class="m-b-0 text-muted">Inscrits</p>
                                <h3 class="m-b-0 ls-1">1,521</h3>
                            </div>
                        </div>
                    </nz-card>
                </div>
                <!-- <div class="col-md-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <i class="font-size-40 text-primary" nz-icon nzType="message" theme="outline"></i>
                            <div class="m-l-15">
                                <p class="m-b-0 text-muted">Reviews</p>
                                <h3 class="m-b-0 ls-1">27</h3>
                            </div>
                        </div>
                    </nz-card>
                </div> -->
                <!-- <div class="col-md-3">
                    <nz-card>
                        <div class="media align-items-center">
                            <i class="font-size-40 text-primary" nz-icon nzType="stock" theme="outline"></i>
                            <div class="m-l-15">
                                <p class="m-b-0 text-muted">Available Stock</p>
                                <h3 class="m-b-0 ls-1">152</h3>
                            </div>
                        </div>
                    </nz-card>
                </div> -->
            </div>
            <nz-card>
                <h5>Informations Générales</h5>
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Responsable:</td>
                            <td class="text-dark font-weight-semibold">
                                <div *ngIf="!etablishment.manager">
                                    <span class="text-danger">Aucun</span>
                                    <a nz-button nzType="link" nzTooltipTitle="Ajouter" >
                                        <i nz-icon nzType="plus" nzTheme="outline"></i>
                                    </a>
                                </div>
                                <div *ngIf="etablishment.manager">
                                    <span class="text-danger">
                                        {{etablishment.manager.name}} {{etablishment.manager.firstname}}
                                    </span>
                                    <a nz-button nzType="link">
                                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Adresse:</td>
                            <td class="text-dark font-weight-semibold">{{etablishment.address}}</td>
                        </tr>
                        <tr>
                            <td>Boite Postale:</td>
                            <td>{{etablishment.postalBox}}</td>
                        </tr>
                        <tr>
                            <td>E-mail:</td>
                            <td>{{etablishment.email}}</td>
                        </tr>
                        <tr>
                            <td>Téléphones</td>
                            <td>
                                <span nz-typography *ngFor="let phone of etablishment.phones">{{phone}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Pays:</td>
                            <td>{{etablishment.country}}</td>
                        </tr>
                        <tr>
                            <td>Ville:</td>
                            <td>{{etablishment.city}}</td>
                        </tr>
                        <tr>
                            <td>Siteweb:</td>
                            <td>{{etablishment.website}}</td>
                        </tr>
                        <tr>
                            <td>Ajouté le:</td>
                            <td>{{etablishment.createdAt}}</td>
                        </tr>
                        <tr>
                            <td>Modifié le:</td>
                            <td>{{etablishment.updatedAt}}</td>
                        </tr>
                    </tbody>
                </table> 
            </nz-card> 
        </nz-tab>
        <nz-tab nzTitle="Product Images">
            <nz-card>
                <div class="row">
                    <div *ngFor="let item of fileList" class="col-md-3">
                        <img class="img-fluid" [src]="item.url == null ? 'assets/images/others/local-image.jpg' : item.url" [alt]="item.name">
                    </div>
                </div>
            </nz-card>
        </nz-tab>
    </nz-tabset>
    <form nz-form nzLayout="vertical" [formGroup]="productEditForm" *ngIf="isEdit">
        <nz-tabset class="page-header-tab">
            <nz-tab nzTitle="Basic Info">
                <nz-card>
                    <nz-form-item>
                        <nz-form-label nzFor="productName">Product Name</nz-form-label>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <input nz-input formControlName="productName" type="text">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="price">Price</nz-form-label>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-input-group [nzPrefix]="pricePrefix">
                                <input nz-input formControlName="price" type="text">
                            </nz-input-group>
                            <ng-template #pricePrefix>
                                <span>$</span>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="category">Category</nz-form-label>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-select formControlName="category" class="w-100">
                                <nz-option nzLabel="Cloths" nzValue="Cloths"></nz-option>
                                <nz-option nzLabel="Home Decoration" nzValue="Home Decoration"></nz-option>
                                <nz-option nzLabel="Eletronic" nzValue="Eletronic"></nz-option>
                                <nz-option nzLabel="Jewellery" nzValue="Jewellery"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="brand">Brand</nz-form-label>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <input nz-input formControlName="brand" type="text">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="status">Status</nz-form-label>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-select formControlName="status" class="w-100">
                                <nz-option nzLabel="In Stock" nzValue="In Stock"></nz-option>
                                <nz-option nzLabel="Out of Stock" nzValue="Out of Stock"></nz-option>
                                <nz-option nzLabel="Pending" nzValue="Pending"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </nz-card>
            </nz-tab>
            <nz-tab nzTitle="Option Info">
                <nz-card >
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-form-label nzFor="size">Status</nz-form-label>
                            <nz-select formControlName="size" class="w-100" nzMode="multiple">
                                <nz-option nzLabel="40" nzValue="40"></nz-option>
                                <nz-option nzLabel="42" nzValue="42"></nz-option>
                                <nz-option nzLabel="44" nzValue="44"></nz-option>
                                <nz-option nzLabel="46" nzValue="46"></nz-option>
                                <nz-option nzLabel="48" nzValue="48"></nz-option>
                                <nz-option nzLabel="50" nzValue="50"></nz-option>
                                <nz-option nzLabel="50" nzValue="50"></nz-option>
                                <nz-option nzLabel="52" nzValue="52"></nz-option>
                                <nz-option nzLabel="54" nzValue="54"></nz-option>
                                <nz-option nzLabel="56" nzValue="56"></nz-option>
                                <nz-option nzLabel="58" nzValue="58"></nz-option>
                                <nz-option nzLabel="60" nzValue="60"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-form-label nzFor="colors">Colors</nz-form-label>
                            <nz-select formControlName="colors" class="w-100" nzMode="multiple">
                                <nz-option nzLabel="Dark Blue" nzValue="Dark Blue"></nz-option>
                                <nz-option nzLabel="Gray" nzValue="Gray"></nz-option>
                                <nz-option nzLabel="Gray Blue" nzValue="Gray Blue"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-form-label nzFor="fit">Fit</nz-form-label>
                            <nz-select formControlName="fit" class="w-100">
                                <nz-option nzLabel="Skinny" nzValue="Skinny"></nz-option>
                                <nz-option nzLabel="Slim" nzValue="Slim"></nz-option>
                                <nz-option nzLabel="Regular" nzValue="Regular"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-form-label nzFor="material">Material</nz-form-label>
                            <nz-select formControlName="material" class="w-100" nzMode="tags"></nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input this field!">
                            <nz-form-label nzFor="shipFrom">Ship From</nz-form-label>
                            <nz-select formControlName="shipFrom" class="w-100">
                                <nz-option nzLabel="Columbia" nzValue="Columbia"></nz-option>
                                <nz-option nzLabel="Brazil" nzValue="Brazil"></nz-option>
                                <nz-option nzLabel="Chile" nzValue="Chile"></nz-option>
                                <nz-option nzLabel="Argentina" nzValue="Argentina"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </nz-card>
            </nz-tab>
            <nz-tab nzTitle="Description">
                <nz-card>
                    <quill-editor formControlName="description" [style]="{height: '250px'}" [modules]="editorConfig" placeholder=""></quill-editor>
                </nz-card>
            </nz-tab>
            <nz-tab nzTitle="Product Images">
                <nz-card>
                    <nz-upload
                        nzAction="https://jsonplaceholder.typicode.com/posts/"
                        nzListType="picture-card"
                        [(nzFileList)]="fileList"
                        [nzShowButton]="fileList.length < 15"
                        [nzPreview]="handlePreview">
                        <i nz-icon nzType="plus"></i>
                        <div class="ant-upload-text">Upload</div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                        </ng-template>
                    </nz-modal>
                </nz-card>
            </nz-tab>
        </nz-tabset>  
    </form>      
</div>

<nz-card class="text-center m-t-40" *ngIf="!showSkeleton && !etablishment">
    <svg width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg" class="ant-empty-img-simple"><g transform="translate(0 1)" fill="none" fill-rule="evenodd"><ellipse cx="32" cy="33" rx="32" ry="7" class="ant-empty-img-simple-ellipse"></ellipse><g fill-rule="nonzero" class="ant-empty-img-simple-g"><path d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"></path><path d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z" class="ant-empty-img-simple-path"></path></g></g></svg>
    <p class="ant-empty-description ng-star-inserted"> Cet établissement n'existe pas!</p>
</nz-card>

