<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" 
                            nz-input placeholder="Recherchez par n° dossier ou le nom" [(ngModel)]="searchInput" (ngModelChange)="search()">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <a nz-button nzType="primary" (click)="openAdd()">
                <i nz-icon nzType="plus-circle" theme="outline"></i>
                <span>Ajouter un produit</span>
            </a>
        </div>
    </div>

    <div>
        <nz-badge [nzCount]="total" [nzStyle]="{ backgroundColor: '#5796F6' }"></nz-badge> Elément(s)
    </div>
    <nz-table
        nzShowSizeChanger
        [nzData]="products"
        [nzFrontPagination]="false"
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="params.itemsPerPage"
        [nzPageIndex]="params.page"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzPageSize]="10"
        #nzTable
        nzTableLayout="fixed"
    >
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzColumnKey="reference">Référence</th>
                <th nzColumnKey="name">Nom</th>
                <th nzColumnKey="owner" [nzSortFn]="true">Propriétaire</th>
                <th nzColumnKey="productType.label" [nzSortFn]="true">Type de produit</th>
                <th nzColumnKey="constructionType.label" [nzSortFn]="true">Type de construction</th>
                <th nzColumnKey="status">Statut</th>
                <th nzRight>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>
                    <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                    <td>{{ data.reference }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.owner.name }} {{ data.owner.firstname }}</td>
                    <td>{{ data.productType.label }}</td>
                    <td>{{ data.constructionType.label }}</td>
                    <td>{{ data.status }}</td>
                    <td nzRight class="text-md-right">
                        <a 
                            class="m-r-5"
                            nz-button nzType="default" 
                            nzShape="circle" 
                            nz-tooltip 
                            nzTooltipTitle="Modifier" 
                            (click)="openEdit(data)"
                            nSize="small">
                            <i nz-icon nzType="edit" theme="outline"></i>
                        </a>
                        <button nz-button 
                            nzType="default" 
                            nzShape="circle" 
                            nz-tooltip 
                            nzTooltipTitle="Supprimer"
                            (click)="deleteItem(data)"
                            nSize="small">
                            <i nz-icon nzType="delete" theme="outline"></i>
                        </button>
                    </td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.id)">
                    <nz-table #innerTable nzSize="middle" [nzShowPagination]="false" [nzData]="products">
                        <thead>
                            <tr>
                                <th>Ville</th>
                                <th>Quartier</th>
                                <th>Commission</th>
                                <th>Tarification</th>
                                <th>Coord. Géo.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{data.city}}</td>
                                <td>{{data.neighborhood}}</td>
                                <td>{{data.commission}}</td>
                                <td>
                                    <nz-list>
                                        <nz-list-item *ngFor="let item of data.prices">
                                          <span nz-typography>{{item.operationType.label}}:</span>
                                          {{ item.amount }}
                                        </nz-list-item>
                                    </nz-list>
                                </td>
                                <td>
                                    {{ '{lat: ' + data.lat + ', lon:' + data.lon + '}' }}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</nz-card>