<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name">Nom</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorName">
                    <input nz-input formControlName="name" id="name" nzSize="small" autocomplete="off" (input)="capitalizeString($event)"/>
                    <ng-template #errorName let-control>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Le champs doit contenir au moins 3 caractères!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">
                            Le champs doit contenir au plus 50 caractères!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="code">Code</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorCode">
                    <input nz-input formControlName="code" id="code" nzSize="small" autocomplete="off" oninput="this.value = this.value.toUpperCase()"/>
                    <ng-template #errorCode let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <!-- <input nz-input formControlName="description" id="description" nzSize="small" autocomplete="off"/> -->
                    <quill-editor formControlName="description" [style]="{height: '250px'}" [modules]="editorConfig" placeholder=""></quill-editor>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="faculty">Filière</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <nz-select 
                        formControlName="faculty" 
                        id="faculty" 
                        nzSize="small" 
                        autocomplete="off"
                        nzPlaceHolder="Veuillez sélectionner"
                        nzShowSearch nzAllowClear 
                        (ngModelChange)="onSelectFaculty($event)">
                        <nz-option *ngFor="let item of faculties"
                            [nzLabel]="item.name" 
                            [nzValue]="item['@id']">
                        </nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="levelType">Type de niveau</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <nz-select 
                        formControlName="levelType" 
                        id="levelType" 
                        nzSize="small" 
                        autocomplete="off"
                        nzPlaceHolder="Veuillez sélectionner"
                        nzShowSearch nzAllowClear >
                        <nz-option *ngFor="let item of levelTypes"
                            [nzLabel]="item.name + ' (' + item.level + ')'" 
                            [nzValue]="item['@id']">
                        </nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="preparedDiploma">Diplôme préparé</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <nz-select 
                        formControlName="preparedDiploma" 
                        id="preparedDiploma" 
                        nzSize="small" 
                        autocomplete="off"
                        nzPlaceHolder="Veuillez sélectionner"
                        nzShowSearch nzAllowClear >
                        <nz-option *ngFor="let item of diplomas"
                            [nzLabel]="item.name" 
                            [nzValue]="item['@id']">
                        </nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="obtainedDiploma">Diplôme obtenu</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <nz-select 
                        formControlName="obtainedDiploma" 
                        id="obtainedDiploma" 
                        nzSize="small" 
                        autocomplete="off"
                        nzPlaceHolder="Veuillez sélectionner"
                        nzShowSearch nzAllowClear >
                        <nz-option *ngFor="let item of diplomas"
                            [nzLabel]="item.name" 
                            [nzValue]="item['@id']">
                        </nz-option>
                    </nz-select>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col class="gutter-row" nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="duration">Durée (mois)</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <input nz-input formControlName="duration" id="duration" nzSize="small" autocomplete="off" type="number"/>
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Le champs est requis!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeModal()">Annuler</button>
    <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isLoading" [disabled]="!validateForm.valid">Enregistrer</button>
</div>